@mainColor:#5bc0de;

.border
{
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  border: 7px solid @mainColor;
  outline: none;
  border-radius: 10px;
}

#gameWindow
{
  text-align: center;
  overflow: hidden;

  canvas
  {
    .border;
    margin: auto;
  }
}

.videoInBackground
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: -2;
}

body
{
  text-align: center;
}

.info
{
  .border;
  display: inline-block;
  font: bold 25px "Bellota";
  color: @mainColor;
  margin: 10px;
  padding-left: 7px;
  padding-right: 7px;
}

.centerVertically
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 1060px;
  height: 640px;
}

